<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container" id="form">
        <div class="row">
            <div class="col-md-4">
                <h1><a href="/">Signup</a> or <a href="/login">Login</a></h1>  <br><br>
                <form action="/login" method="post">
                    <label for="" class="form-label">Username</label>
                    <input type="text" name="username" id="" class="form-control"> <br><br>
                    <label for="" class="form-label">Password</label>
                    <input type="text" name="password" id="" class="form-control"><br><br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>